.weather-app {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.weather-app h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-group button {
  padding: 10px;
  background: #007BFF;
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input-group button:hover {
  background: #0056b3;
}

.input-group button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.error-message {
  color: #b00020;
  font-weight: 700;
  margin: 0 0 20px;
}

.weather-info {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.weather-info p {
  margin: 5px 0;
}
